<h1>Processed Orders</h1>

<% @processed_orders.each do |p| %>
  <table class="table">
    <tr>
      <th>Order ID</th>
      <th>Number of Shipments</th>
    </tr>
    <tr>
      <td><%= p.id %></td>
      <td><%= p.shipments.count %></td>
    </tr>
  </table>
<% end %>

<% if @processed_orders.empty? %>
  None
<% end %>

<h1>Unprocessed Orders</h1>
  <% @unprocessed_orders.each do |u| %>
    <table class="table">
      <tr>
        <th>Order ID</th>
        <th>Number of Shipments</th>
      </tr>
      <tr>
        <td><%= u.id %></td>
        <td><%= u.shipments.count %></td>
      </tr>
    </table>
  <% end %>

<% if @unprocessed_orders.empty? %>
  None
<% end %>

<%= link_to "New Order", new_order_path %>
