<div class="well">
  <h1 class="header">New Order</h1>
  <%= form_for @order do |f| %>
    <div class="product">
      <div>
        <%= f.label :product %>
        <%= f.collection_select :product_ids, Product.all, :id, :name %>
      </div>
      <br>
      <div class="dropdown">
        <%= f.label :line_items %>
        <%= f.select :line_items, options_for_select(1..20) %>
      </div>
    </div>
    <br>
    <button id="add-button">Add another product</button>
    <br>
    <%= f.submit %>
  <% end %>
</div>

<script>
  $(document).ready(function() {
    $("#add-button").click(function(e) {
      e.preventDefault();
      var newProduct = $(".product").last().clone();
      $("div.product").last().append(newProduct);
    });
  });
</script>
